
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>record</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
	
	<table>
		<thead>
			<tr>
				
				<th>Name</th>
				<th>Registration</th>
				
				<th>Mark</th>
		</thead>
		<tbody>
			{% for  employe in form %}
			<tr>
				<td>{{employe.sname}}</td>
				<td>{{employe.sreg}}</td>
				<td>{{employe.smark}}</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<!-- <a  href="emp">add</a> -->
	<button><a href="/Student/">Back</a></button>
	
</body>


</html>


